body {
  background-color: #130E19;
}

.container {
	font-family:'Rock Salt', cursive;
	background-color: #e8dbcb;
	color: #217ae8;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

#map-canvas {
	height : 300px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.picture {
  width: 484px;
  margin-right: auto;
  margin-left: auto;

 }

 p, h1 {
  text-align: center;
 }

.reset_button {
  cursor: pointer;
  background-color: #9C8CB5;
  color: #292038;
  text-align: center;
  font-family: Arial;
  border: 1px solid #9b8c79;
  box-shadow: 2px 2px 2px #292038;
  width: 30%;
  padding: 15px;
  margin-top: 3px;
  margin-bottom: 12px;
  margin-right: auto;
  margin-left: auto;
 }

@media only screen and (max-width: 620px) and (min-device-width: 320px) {
  .container {
    width: 100%;
  }
}
